@tailwind base;
@tailwind components;

@import "base/typography";

@import "common/global";
@import "common/fonts";
@import "common/buttons";
@import "common/forms";
@import "common/buttons";

@import "layout/footer";
@import "layout/navigation";

@import "pages/page";

@import "base/helpers";

@tailwind utilities;

body {
  @apply box-border;
}

nav {
  @apply grid grid-cols-12 pt-20 w-main mx-auto text-white tracking-wide;
  .nav-left {
    @apply flex text-h5 font-bold col-span-5 items-center;
  }
  .nav-right {
    @apply col-span-7 flex justify-between items-center;
    li {
      @apply font-normal;
    }
    .login {
      @apply border-white border-solid border rounded-lg py-5 px-10 font-medium;
    }
  }
}

.section-one {
  @apply w-main mx-auto flex flex-grow;
}

.top-screen {
  @apply relative overflow-hidden flex flex-col;
  .bg {
    @apply absolute z-m10 h-auto mx-auto justify-center min-w-full;
    min-width: 110vw;
    width: 2050px;
    right: -10%;
  }
  //=== FORM ===
  .hotel-form {
    @apply self-center max-w-full bg-white rounded-xl p-10 mb-24 mt-32;
    width: 487px;
    label {
      @apply font-bold leading-10;
    }
    .col-2 {
      @apply grid grid-cols-2 gap-8;
    }
    input[type="text"],
    select {
      @apply p-6 pr-20 mb-2 rounded-xl w-full appearance-none;
      background-color: #f1f1f1;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    .react-datepicker-wrapper {
      @apply w-full;
    }
    // A lot of pixel-perfect icon crafting below:
    #location-wrapper,
    #check-in-wrapper,
    #check-out-wrapper,
    #guests-wrapper {
      position: relative;
      i {
        right: 15px;
        top: 12px;
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 50px;
        width: 50px;
        user-select: none;
      }
    }
    #location-wrapper i {
      background: url("../img/pin.png") no-repeat center;
    }
    #check-in-wrapper i {
      background: url("../img/calendar.png") no-repeat center;
    }
    #check-out-wrapper i {
      background: url("../img/calendar.png") no-repeat center;
    }
    #guests-wrapper span {
      background: url("../img/down.png") no-repeat center;
    }
    #pay-wrapper {
      @apply font-medium;
      position: relative;
      input[type="checkbox"] {
        @apply mr-4 ml-2 mb-8 mt-6;
      }
    }
    #pay-icon {
      @apply rounded-md bg-white border-green-soft border-solid;
      border-width: 2px;
      position: absolute;
      top: -3px;
      left: 0;
      height: 25px;
      width: 25px;
    }
    #pay-wrapper input:checked ~ #pay-icon {
      @apply bg-green-soft;
    }
    #pay-icon:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    input:checked ~ #pay-icon:after {
      display: block;
    }
    .submit {
      @apply bg-orange-main w-full text-white font-bold p-6 rounded-xl;
    }
  }
  //=== END OF FORM ===
  .icon1 {
  }
}
