@tailwind base;
@tailwind components;

@import "base/typography";

@import "common/global";
@import "common/fonts";
@import "common/buttons";
@import "common/forms";
@import "common/buttons";

@import "layout/footer";
@import "layout/navigation";

@import "pages/page";

@tailwind utilities;

body {
  @apply box-border bg-white;
}

p {
  @apply leading-8 tracking-wide;
}

.subtext {
  @apply text-green-soft text-sm;
}

nav {
  @apply grid grid-cols-12 pt-10 w-main mx-auto text-white tracking-wide;
  .nav-left {
    @apply flex text-h5 font-bold col-span-6 items-center;
  }
  .nav-right {
    @apply col-span-6 flex justify-between items-center;
    li > a {
      @apply font-normal hidden;
    }
    .login > a {
      @apply inline-block border-white border-solid border rounded-lg py-5 px-10 font-medium;
    }
  }
}

.orange-btn {
  @apply bg-orange-main w-full text-white leading-8 font-bold p-6 rounded-xl;
}
.not-btn {
  @apply p-10 inline;
  span {
    @apply font-bold text-h5;
  }
}

#home {
  @apply w-main mx-auto flex flex-grow relative;
  #icon1 {
    @apply absolute w-24 z-0 hidden;
    top: 9vw;
    right: 40%;
  }
  #icon2 {
    @apply absolute overflow-hidden z-10 right-0 items-center justify-center hidden;
    top: 150px;
    p {
      @apply absolute px-10 pt-6 pb-12 leading-8 text-h6 text-grey;
    }
  }
  #icon3 {
    @apply absolute overflow-hidden z-10 items-center justify-center hidden;
    bottom: 250px;
    right: 35%;
    p {
      @apply absolute pl-10 pr-5 pt-6 pb-10 leading-8;
    }
  }
  #icon4 {
    @apply absolute w-24 z-0 hidden;
    bottom: 230px;
    right: 7%;
    transform: rotate(45deg);
  }
}

.top-screen {
  @apply relative flex flex-col overflow-hidden;
  .bg {
    @apply absolute z-m10 mx-auto justify-center overflow-hidden min-w-full;
    top: -100px;
    height: 109%;
    min-width: 110vw;
    width: 2050px;
    right: -10%;
  }
  //=== FORM ===
  .hotel-form {
    @apply self-center max-w-full bg-white rounded-xl z-10 p-10 mt-10 mb-64 mx-auto;
    width: 487px;
    label {
      @apply font-bold leading-10;
    }
    .col-2 {
      @apply grid;
    }
    input[type="text"],
    select {
      @apply p-6 pr-20 mb-2 rounded-xl w-full appearance-none;
      background-color: #f1f1f1;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    .react-datepicker-wrapper {
      @apply w-full;
    }
    // A lot of pixel-perfect icon crafting below:
    #location-wrapper,
    #check-in-wrapper,
    #check-out-wrapper,
    #guests-wrapper {
      position: relative;
      i {
        right: 15px;
        top: 12px;
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 50px;
        width: 50px;
        user-select: none;
      }
    }
    #location-wrapper i {
      background: url("../img/pin.png") no-repeat center;
    }
    #check-in-wrapper i {
      background: url("../img/calendar.png") no-repeat center;
    }
    #check-out-wrapper i {
      background: url("../img/calendar.png") no-repeat center;
    }
    #guests-wrapper span {
      background: url("../img/down.png") no-repeat center;
    }
    #pay-wrapper {
      @apply font-medium;
      position: relative;
      input[type="checkbox"] {
        @apply mr-4 ml-2 mb-8 mt-6;
      }
    }
    #pay-icon {
      @apply rounded-md bg-white border-green-soft border-solid;
      border-width: 2px;
      position: absolute;
      top: -3px;
      left: 0;
      height: 25px;
      width: 25px;
    }
    #pay-wrapper input:checked ~ #pay-icon {
      @apply bg-green-soft;
    }
    #pay-icon:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    input:checked ~ #pay-icon:after {
      display: block;
    }
  }
  //=== END OF FORM ===
}
.featured {
  @apply w-main mx-auto bg-green-bg py-10 rounded-xl px-6 z-20;
  transform: translateY(-10rem);
  margin-bottom: -5rem;
  .col-3 {
    @apply flex flex-col items-center text-center;
    .big {
      @apply text-h4 my-6 font-bold text-green-soft w-3/4;
    }
    p {
      @apply text-green-soft;
    }
  }
}
#about-us {
  @apply pb-24 w-full bg-white z-0 mx-auto px-10;
  .col-2 {
    @apply flex flex-col w-full mx-auto items-center;
    .images {
      @apply p-16 relative h-full;
      width: 500px;
      max-width: 85%;
      #decoration {
        @apply absolute top-0 right-0 w-56;
        max-width: 40%;
      }
      #orange {
        @apply absolute bottom-0 right-0 w-56;
        max-width: 40%;
        img {
          @apply rounded-lg;
        }
      }
    }
    .content {
      @apply flex flex-col items-start justify-center pt-20 mx-auto;
      width: 90%;
      .orange-btn {
        @apply py-4;
      }
      p {
        @apply text-grey-dark;
      }
      h2 {
        @apply mb-8 text-h3 font-bold;
        color: #273029;
      }

      button {
        @apply w-auto mt-10;
      }
      .points {
        @apply my-8 h-auto inline-block;
        div {
          @apply inline-flex items-center float-left mr-6;
          h3 {
            @apply float-left text-h5 font-bold mr-2 text-green-soft;
          }
        }
      }
    }
  }
}
#sanghai {
  @apply w-main flex flex-col-reverse pt-32 mx-auto;
  h2 {
    @apply text-h4 font-bold mt-2;
  }
  p {
    @apply my-6 text-grey-dark;
  }
  .col-left {
    @apply h-full pr-12 w-auto;
    .orange-btn {
      @apply w-auto py-4 px-12 mt-8;
    }
    .not-btn {
      @apply inline-block mt-2 py-2;
    }
  }
  .col-right {
    @apply rounded-xl;
    .pic {
      @apply w-full rounded-xl;
    }
  }
}
#blue-box-wrapper {
  @apply grid w-main grid-cols-1 mx-auto relative mt-16 pb-32;
  .decor {
    @apply hidden;
    transform: translateY(90px);
  }
  #blue-box {
    @apply pl-12 pr-10 pb-8 pt-10 bg-green-soft text-white rounded-lg;
    h5 {
      @apply text-h6 font-bold mt-6;
    }
  }
}
#find-hotel {
  @apply w-main mx-auto py-32;
  .wrapper {
    @apply w-full pb-32 mx-auto text-center;
    max-width: 600px;
    h2 {
      @apply text-h4 font-bold mb-8;
    }
    p {
      @apply text-grey-dark mb-10;
    }
    .orange-btn {
      @apply w-auto py-4 px-10 font-medium;
    }
  }
  .cards {
    @apply grid grid-cols-1 gap-6;
    .card {
      @apply rounded-xl bg-white flex flex-col overflow-hidden;
      .card-img > div {
        height: 0;
        padding-bottom: 100% !important;
      }
      .text-box {
        @apply border-grey-lighter border-solid border-2 py-6 px-5 rounded-b-xl;
        h3 {
          @apply text-h6 font-bold;
        }
        p {
          @apply text-grey-dark font-normal;
        }
      }
    }
    .card.blue {
      .text-box {
        @apply border-none bg-green-soft;
        h3,
        p {
          @apply text-white;
        }
      }
    }
  }
}
#opinion {
  @apply w-full bg-green-soft pt-32 pb-64;
  .box {
    @apply w-main mx-auto flex flex-col items-center pb-16;
    min-height: 470px;
    .col-1 {
      @apply pb-16 max-w-full max-h-full;
      width: 500px;
      .pic > div {
        height: 0;
        padding-bottom: 100% !important;
      }
    }
    .col-2 {
      @apply w-full p-12;
      min-height: 400px;
      background-color: rgba(255, 255, 255, 0.2);
      h3 {
        @apply text-h5 font-bold text-white;
      }
      span {
        @apply text-white;
      }
      p {
        @apply text-h6 py-6 leading-10 text-white;
      }
      .rate > svg {
        @apply float-left mr-2;
      }
    }
  }
}
footer {
  @apply w-full bg-green-bg;
  #contact-us {
    @apply flex flex-col w-main p-8 bg-white rounded-xl;
    transform: translateY(-200px);
    margin: 0 9.5% -200px;
    p {
      @apply text-grey-dark text-base leading-6;
    }
    .col-1 {
      @apply mb-6;
      h3 {
        @apply text-h5 font-bold mb-2;
        span {
          @apply text-orange-main;
        }
      }
    }
    .col-2 {
      @apply mb-6;
      h3 {
        @apply text-h6 font-bold mb-5;
      }
      p {
        line-height: 3rem;
      }
      a {
        @apply font-normal;
      }
    }
    .col-3 {
      @apply mb-6;
      h3 {
        @apply text-h6 font-bold mb-5;
      }
      p {
        line-height: 3rem;
      }
    }
  }
  #bottom {
    @apply flex flex-col items-center w-main mx-auto py-16 text-center leading-10;
    .left {
      @apply float-left font-bold text-h6 pb-8;
    }
    .right {
      @apply inline-flex flex-row justify-between mx-auto;
      width: 130px;
    }
    .right {
      @apply flex;
    }
  }
}
@screen sm {
  .top-screen .hotel-form .col-2 {
    @apply grid-cols-2 gap-8;
  }
  #find-hotel .cards {
    @apply grid-cols-2;
  }
}

@screen lg {
  #home {
    #icon1,
    #icon2,
    #icon3,
    #icon4 {
      @apply flex;
    }
  }
  .top-screen {
    .hotel-form {
      @apply ml-0 mt-32;
      .col-2 {
        @apply grid-cols-2 gap-8;
      }
    }
  }
  .featured {
    @apply mr-0 w-main-plus p-20 rounded-l-2xl;
    .col-3 {
      @apply flex-row;
      .big {
        @apply mr-10 my-0;
      }
    }
  }
  #about-us {
    @apply w-main pr-10 px-0;
    .col-2 {
      @apply flex-row;
      .images {
        @apply mx-8 w-full pl-0;
        max-width: 800px;
      }
      .content {
        @apply w-auto pl-24;
        max-width: 50%;
      }
    }
  }
  #sanghai {
    @apply flex-row w-main-plus ml-auto mr-0;
    .col-right {
      @apply rounded-l-xl;
      max-width: 68%;
      .pic {
        @apply rounded-l-xl;
        width: 905px;
        max-width: 100%;
      }
    }
  }
  #blue-box-wrapper {
    @apply grid-cols-5 mt-0 pb-0;
    #blue-box {
      @apply col-start-4 col-end-6;
      transform: translateY(-50%);
    }
    .decor {
      @apply inline-block col-start-1 col-end-2 absolute w-full;
    }
  }
  #find-hotel {
    @apply pt-32;
    .wrapper {
      @apply px-8;
    }
    .cards {
      @apply grid-cols-3;
    }
  }
  #opinion {
    .box {
      @apply flex-row;
      .col-1 {
        @apply w-2/5 overflow-hidden pb-0;
      }
      .col-2 {
        @apply w-3/5 ml-32;
      }
    }
  }
  footer {
    @apply text-base;
    #contact-us {
      @apply flex-row p-16;
      .col-1 {
        width: 55%;
        @apply pr-16;
      }
      .col-2 {
        width: 22.5%;
        @apply px-4;
      }
      .col-3 {
        width: 22.5%;
        @apply px-4;
      }
      p {
        @apply text-h6 leading-10;
      }
    }
    #bottom {
      @apply flex-row justify-between;
      .left {
        @apply pb-0;
      }
      .right {
        @apply mx-0;
      }
    }
  }
}

@screen xl {
  nav {
    @apply pt-20;
    .nav-right li > a {
      @apply inline-block;
    }
  }
  #find-hotel {
    .cards {
      @apply grid-cols-4;
    }
  }
}
